*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
body,html{
    overflow: hidden;
}
.phone{
    display: none;
}
.naver {
    display: none;
}
.back_img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -300;
    top: 0;
    left: 0;
    transition: 2s;
}
header{
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3rem;

}
#menu{
    display: none;
}

header .nav{
    display: flex;
    overflow: hidden;
    font-size: 1.5rem;
    /* justify-content: space-around; */
    gap: 3rem;
    align-items: center;
}
.nav a:hover{
    border-bottom: 5px solid blue;
}
.new a{
    font-size: 1.5rem;
}
.line{
    height: 34rem;
    width: .1rem;
    background-color: white;
    margin: 6rem 0px 0px 2rem;
    position: absolute;
    border-radius: 1rem;
}
.dots_container{
     display: flex;
     flex-direction: column;
     gap: 7rem;
     align-items: center;
     padding: 2rem 0;
    }
    .dot{
        background-color: #bab5b5;
        height: 2rem;
        width: 2rem;
        border-radius: 50%; 
        text-align: center;
        padding: .5rem;
        transition: 3s;
}
.area{
    display: flex;
    padding: 6rem 0rem 0rem 0rem;
    align-items: center;
}
.area_name{
    padding: 0rem 0rem 0rem 5rem;
    display: flex;
    /* gap: 2rem; */
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: center; */
}
.one{
    overflow: hidden;
}
.info{
    overflow: hidden;
}
.para_graph{
    width: 30rem;
    display: flex;
    height: 10rem;
    position: relative;
    /* padding: 0rem 0rem 0rem 0rem; */
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
}
.place_name{
    height: 2.5rem;
    width: 12rem;
    /* position: relative; */
    /* overflow: hidden; */
    /* background-color: #900909; */
}
.place_name h1{
    font-size: 2rem;
    transition: 2s;
    color: #ffffffed;
    /* position: absolute; */
    /* display: none; */
    /* transform: scale(); */
    font-weight: bolder;
}
.graph{
    /* display: none; */
    height: 10rem;
    width: 30rem;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;
    transition: 2s;
 } 
.button{
    background-color: blue;
    height: 2.5rem;
    width: 8rem; 
    text-align: center;
    align-items: center;
    border-radius: .5rem; 
    font-size: 1.5rem; 
}
.mbox{
    height: 10rem;
    width: 30rem;
    background-color: #fff;
    position: absolute;
    z-index: 400;
    top: 0;
    transform: translateX(40px);
}
.button {
    font-weight: bold;
}
.button:hover {
    color: #fff;
    border: 2px solid blue;
    /* color: blue; */
    border-radius: 2rem; 
    background-color: transparent;
}
.fram{
    overflow: hidden;
    padding: 0rem 0rem 0rem 4rem;
}
.carder{
    width: 40rem;
    height: 25rem;
    overflow: hidden;
}
.card_container {
    width: 50%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2.2rem;
}

.card_container .card {
    overflow: hidden;
    width: 250px;
    height: 320px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 100%;
}
.onemore{
    height: 2rem;
    display: flex;
    width: 10rem;
    overflow: hidden;
}
#topsearch{
    position: absolute;
    transform: translateX(-3px);
    border: 2px solid #fff;
    padding: .2rem .2rem;
    transition: 1.5s;
    border-radius: 50%;
    z-index: 5;
}
#search{
    display: none;
}
.onemore .try{
    height: 2rem;
    width: 9rem;
    background-color: #9c979772;
    transform: translateX(-90px);
    transition: 1s;
    outline: none;
    border: 2px solid #fff;
    border-radius: 2rem;
}
#title{
    font-size: 2rem;
    color: #3c3c3d;
}
#dots_phone{
    display: none;
}
#right{
    position: absolute;
    right: 12rem;
}
#right,#left{
    color: #fff;
    background-color:#00000082;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    /* padding: 1rem 3rem; */
    font-size: 5rem;

}
#left{
    transform: translateX(12rem);
}
#right:active{
    background-color: #3de8e8;
}
#left:active{
    background-color: #3de8e8;
}
@media(max-width:1444px) {
    header h1{
        font-size: 3rem;
    }
    nav{
        font-size: 2rem;
    }
    .line{
        height: 37rem;
    }
    .dots_container{
        padding: 4rem 0rem;
    }
    .para_graph{
        width: 30rem;
        height: 11.5rem;
        overflow: hidden;
    }
    /* .graph{
        font-size: 1.5rem;
    } */
}
@media (max-width:1200px) {
    .area_name{
        padding: 0rem 0rem 0rem 4rem;
        flex-wrap: wrap;
        /* gap: 6rem; */
        }
}
@media (max-width:1030px) {
    header h1{
        font-size: 2.8rem
    }
    .line{
        display: none;
        height: 34rem;
    }
    #dots_phone{
        display: flex;
        gap: .5rem;
        align-items: center;
        padding: .5rem 34rem;
        flex-direction: row;
        /* transform: rotateX(20deg); */
    }
    .dots_p{
        background-color: #fff;
        height: 2rem;
        width: 2rem;
        border-radius: 50%; 
        text-align: center;
        padding: .5rem;
        transition: 3s;
    }
    .area{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0rem 0rem 0rem 0rem;
    }
    .area_name{
    padding: 0rem 0rem 0rem 1rem;
    flex-wrap: wrap;
    /* gap: 6rem; */
    }
    /* .fram{
        padding: 0rem 1.2rem;
    } */
    /* .dots_container{
        padding: 2rem 0px;
    } */
    .para_graph{
        width: 30rem;
        height: 9.5rem;
    }
    .graph{
        font-size: 1rem;
    }
}
@media (max-width:965px){
    .back_img{
        height: 100%;
        width: 100%;
    }
    #dots_phone{
        padding: 0rem;
    }
    header{
        padding: 2.5rem 1rem;
    }
    header h1{
        font-size: 3rem
    }
    header .nav{
        gap: 3rem;
        padding: 0rem 0rem 0rem 0rem;
    }
    .area_name{
        flex-direction: column;
        align-items: center;
        padding: 0rem ;
    /* gap: 2rem; */
    }
    .area{
    gap: 1rem;
    padding: 0rem;
    }
  
    /* header h2 {
        font-size:1rem;
    } */
}
@media (max-width:860px){
    header .nav{
        display: none;
        /* gap: .5rem;
        padding: 0rem 0rem 0rem 0rem; */
    }
    header h1{
        font-size: 2rem;
    }
    header .new{
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    #menu{
        display: block;
        font-size: 2rem;
    }
    .naver{

        display: block;
    }
    .box{
        height: 21rem;
        width: 13rem;
        background-color: #ffffff8a;
        position: absolute;
        top: 1rem;
        box-shadow: -9px 0px 30px #000;
        border-radius: 1rem;
        z-index: 10;
        margin-left: -2.5rem;
        transition: 1s;
        /* transform: translateX(-30px); */
        transform: translateY(-284px);
    }
    .naver a{
        color: #2d2b2b;
        display: flex;
        font-weight: bolder;
        align-items: center;
        justify-content: center;
        /* gap: 3rem; */
        line-height: 4rem;
    }
    .naver #x{
        font-size: 2rem;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #fff;
        margin-left: 10.7rem;
    }
    header h2 {
        font-size:1.5rem;
    }
    .back_img{
        width: 100%;
        height: 100%;
    }
    .area_name{
        padding: 0rem 0rem 0rem 0rem;
        /* gap: 5rem; */
    }
    
    .fram{
        padding: 0rem;
    }
    #right, #left{
        position: absolute;
        top: 50%;
    }
    #left{
        transform: translateX(1px);
    }
    .twomore{
        height: 2rem;
        display: flex;
        width: 10rem;
        overflow: hidden;
    }
    #search{
    display: block;
    position: absolute;
    transform: translateX(-3px);
    border: 2px solid #fff;
    padding: .2rem .2rem;
    transition: 1.5s;
    border-radius: 50%;
    z-index: 5;
    }
    .twomore .try{
        height: 2rem;
        width: 9rem;
        background-color: #9c979772;
        transform: translateX(-90px);
        transition: 1s;
        outline: none;
        border: 2px solid #fff;
        border-radius: 2rem;
    }
    
}
@media (max-width:715px){
    header h1{
        font-size: 2rem
    }
    header .nav{
        gap: 1rem;
        font-size: 1.2rem;
        padding: 0rem 0rem 0rem 0rem;
    }
    header h2 {
        font-size:1rem;
    }
}
@media (max-width:615px){
    .back_img{
        width: 100%;
        height: 100%;
    }
}
@media (max-width:655px) {
    header .nav{
        display: none;
    }
    .new{
        display: flex;
    }
}
@media (max-width:620px) {

}
@media (max-width:540px) {
    .imges{
        height: 24rem;
    }
    #right{
        position: absolute;
        right: 7rem;
    }
    #right,#left{
        color: black;
        /* padding: 1rem 3rem; */
    
    }
    #left{
        position: absolute;
        transform: translateX(1.5rem);
        /* z-index: 1; */
    }
}
@media (max-width:430px) {
    body{
        background-color: #3c3c3d;
        overflow-y: visible;
    }
    .back_img{
        display: none;
    }
    header .nav{
        display: none;
    }
    header{
        justify-content: space-between;
    }
    .new{
        display: flex;
        gap: 2rem;
    }
    /* #menu{
        display: flex;
    } */
    .twomore .try{
        height: 1.5rem;
        width: 9rem;
        background-color: #9c979772;
        transform: translateX(-90px);
        transition: 1s;
        outline: none;
        border: 1.5px solid #fff;
        border-radius: 1rem;
    }
    #dots_phone{
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: .5rem 9rem;
        flex-direction: row;
        /* transform: rotateX(20deg); */
    }
    .new .user{
        display: none;
    }
    .naver a{
        display: flex;
    }
    .box{
        transform: translateY(-284px);
        margin-left: -11rem;
    }
    .dots_p{
        background-color: #fff;
        height: 2rem;
        width: 2rem;
        border-radius: 50%; 
        text-align: center;
        padding: .5rem;
    }
    .phone{
        width: 100%;
        height: 20rem;
        display: flex;
        border-radius: 1rem;
        position: relative;
        background-color: #fff;
        border: 2px solid #fff;
    }
    .phone_img{
        /* display: none; */
        width: 100%;
        border-radius: 1rem;
        height: 100%;
        position: absolute;
    }
    .area_name{
        display: flex;
    }
    #title{
        color: #fff;
    }
    .line{
        display:none;
    }
    #right, #left{
        top: 30%;
        font-size: 4rem;
        height: 4rem;
        width: 4rem;
    }

} 
@media (max-width:380px) {
    .para_graph{
        width: 27rem;
    }
    #dots_phone{
        padding: .5rem 9rem;
    }
}
@media (max-width:320px) {
    #dots_phone{
        padding: .2rem 7rem;
        gap: .5rem;
    }
    .para_graph{
        width: 22rem;
    }
}

#right{
    position: absolute;
    right: 1rem;
}
#right,#left{
    color: black;
    /* padding: 1rem 1rem; */

}
